body {
	margin: 0px;
	padding: 0px;
	color: #596062;
}

h1, h2, h3, h4, h6 {
	margin: 0px;
	padding: 0px;
}

.main {
	margin: 0px auto;
	width: 900px;
	height: auto;
}

.header {
	background-color: #AAB7B8;
	width: 900px;
	padding: 20px 0px;
    display: flex;
}

.header-content {
	background-color: #FFF;
	width: 500px;
	margin: 0px auto;
}

.header-content-border {
	margin : 8px;
    padding : 8px;
	width: 462px;
	text-align: center;
	border: 3px solid #596062;
}

.header-content-border-name {
	font-family: serif;
}

.header-content-border-designation {
	color: #818A8C;
}

.section {
	width: 898px;
	border : 1px solid #AAB7B8;
}

.section-profile {
	display: flex;
    margin: 20px auto;
    width: 810px;
}

.section-profile-content {
	float: left;
    margin: auto;
	text-align: center;
	width: 270px;
}

.section-profile-content > p {
	text-align: justify;
	color: #818A8C;
}

.section-profile-content > img {
	width: 180px;
	height: 180px;
	border-radius: 100px;
}

.section-profile-content-details tr td {
	text-align: left;
	padding: 8px;
}


.section-profile-content-details-icon {
	padding-left: 30px;
}

.section-profile-content-details tr:nth-child(3) .section-profile-content-details-icon {
	opacity: 0.7;
}

.section-profile-content-details tr:nth-child(4) .section-profile-content-details-icon {
	filter: brightness(50%);
}

.section-qualification {
	display: flex;
    margin: 20px auto;
    width: 810px;
}

.section-qualification-content-heading {
	color: #596062;
	border: 1px solid black;
	padding: 5px;
}

.section-qualification-education-content {
	color: grey;
	float: left;
	width: 270px;
}

.section-qualification-content {
	float: left;
	width: 270px;
}

.section-qualification-content-skills-heading {
	background-color: #F0CEA0;
	padding: 6px;
}

.section-qualification-line {
    width: 55px;
    height: 2px;
    background-color: black;
    position: relative;
    top: 30px;
}

.section-experience {
    margin: 20px auto;
    width: 810px;
}

.section-experience-title{
	width: 810px;
    float: left;
}

.section-experience-title-line {
	width: 285px;
    height: 2px;
    background-color: black;
    float: left;
    position: relative;
    top: 17px;
}

.section-experience-title-value{
	width: 220px; 
	height:26px; 
	text-align: center;
	float: left; 
	background-color: #F0CEA0;
	padding: 6px;
	padding-bottom: 4px;
}

.section-experience-content{
    display: flex;
	width: 810px;
	margin: 0px auto;
}

.section-experience-content-description {
	width: 700px;
    margin: auto;
	float: left;
}

.section-experience-content-description ul {
	padding: 15px;
	margin: 0px;
}

.section-experience-content-organization{
	width: 110px;  
	margin: 10px;
	float: right;
	background-color: #AAB7B8;
}

.section-experience-content-organization ul {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

.section-experience-content-organization ul li {
	padding: 16px 10px;
	text-align: center;
}


.footer {
	width: 900px;
	text-align: center;
	background-color: #AAB7B8;
}